a2wsgi==1.10.10
aiofiles==25.1.0
aiosmtplib==5.0.0
aiosqlite==0.21.0
alembic==1.17.1
annotated-types==0.7.0
anyio==4.11.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgi-csrf==0.11
asgiref==3.10.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
Flask==3.1.2
babel==2.17.0
